
body{
margin:0;
padding:0;
line-height: 1.5em;
}

b{font-size: 110%;}
em{color: red;}

#maincontainer{
width: 100%; /*Width of main container*/
margin: 0 auto; 
}

#header{
background: white;
height: 130px;
}

#header h1{
margin: 0;
}

#middlecontent{
min-height: 350px;
margin-top: 0px;
}

#maincontent{
margin-left: 12%; /*Set left margin to LeftColumnWidth*/
}

#leftcolumn{
float: left;
width: 12%; /*Width of left column*/
background: #C8FC98;
min-height: 500px;
}

#footer{
clear: left;
width: 100%;
color: #FFF;
text-align: center;
padding: 4px 0;
height: 35px;
background-color: gray;
}

#footer a{
color: #FFFF80;
}

.innertube{
margin-top: 0;
}

.logout{
color: #FFFF80;
text-align: right;
}
