<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
 	http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">

<tx:annotation-driven transaction-manager="transactionManager"/>

	<bean id="clinicAction" class="np.com.clinic.presentation.ClinicCRUDAction" >
		<property name="clinicBo" ref="clinicBo"/>
	</bean>

	<bean id="clinicBo" class="np.com.clinic.bo.implementation.ClinicBoImpl" >
		<property name="clinicDao" ref="clinicDao" />
	</bean>

	<bean id="clinicDao" class="np.com.clinic.dao.hibernate.HibernateClinicDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	
	<bean id="userAction" class="np.com.userconfig.controller.UserController" >
	<property name="userService" ref="userService"/>
	</bean>
	
	<bean id="userService" class="np.com.userconfig.serviceImpl.UserServiceImpl" >
		<property name="userDao" ref="userDao" />
	</bean>
	
	<bean id="userDao" class="np.com.userconfig.daoImpl.UserDaoImpl" >
	<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
</beans>